<a href="https://colab.research.google.com/github/leopark4141/Homework/blob/main/082%2C083HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
logData = '홍길동;남자;18세;도적;초능력자'
profile = logData.split(';')
print(profile)

['홍길동', '남자', '18세', '도적', '초능력자']

In [2]:
text = '나는 파이썬을 사랑합니다.'
print(text.split())

['나는', '파이썬을', '사랑합니다.']

In [3]:
profile = '이름:홍길동 나이:18세 성별:남자 국적:조선 직업:도적 특기:초능력'
for data in profile.split():
    key, val = data.split(':')
    print(f'{key}→{val}')

이름→홍길동
나이→18세
성별→남자
국적→조선
직업→도적
특기→초능력

In [4]:
text = '   이 문장의 양쪽에는 공백이 있습니다.   '
print(f'[{text.strip()}]')
print(f'[{text.lstrip()}]')
print(f'[{text.rstrip()}]')

[이 문장의 양쪽에는 공백이 있습니다.]
[이 문장의 양쪽에는 공백이 있습니다.   ]
[   이 문장의 양쪽에는 공백이 있습니다.]

In [5]:
url = 'www.python.comow.'
print(url.strip('cmow.'))

python

In [6]:
print(url.lstrip('cmow.'))
print(url.rstrip('cmow.'))

python.comow.
www.python