<a href="https://colab.research.google.com/github/leopark4141/Homework/blob/main/_054_055hw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
solarsys=['태양','수','금','지','화','목','토','천','해']
for i,body in enumerate(solarsys):
  print(f'태양계의{i}번째 천체:{body}')

태양계의0번째 천체:태양
태양계의1번째 천체:수
태양계의2번째 천체:금
태양계의3번째 천체:지
태양계의4번째 천체:화
태양계의5번째 천체:목
태양계의6번째 천체:토
태양계의7번째 천체:천
태양계의8번째 천체:해

In [ ]:
seasons=['봄','여름','가을','겨울']
print(list(enumerate(seasons,start=1)))

[(1, '봄'), (2, '여름'), (3, '가을'), (4, '겨울')]

In [ ]:
def myEnumerate(iterable,start=0):
  n=start
  for item in iterable:
    yield(n,item)
    n+=1

In [ ]:
print(list(myEnumerate(seasons,start=1)))

[(1, '봄'), (2, '여름'), (3, '가을'), (4, '겨울')]

In [ ]:
fruits=('a','p','o','w')
ret=reversed(fruits)
print(list(ret))

['w', 'o', 'p', 'a']

In [ ]:
print(fruits)

('a', 'p', 'o', 'w')

In [ ]:
for i in reversed(range(1,6)):
  print(i)

5
4
3
2
1